# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr

# Logs
*.log

# Target directory
target/

# Maven specific files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# OS-specific files
.DS_Store
Thumbs.db
